.logo {
  width: auto;
  height: 80px;
}

.App {
  font-family: sans-serif;
}

.App form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: rgba(255, 0, 0, 0.6);
  margin-right: 20px;
  margin-bottom: 5px;
}

.error-message::before {
  content: "⚠ ";
}

.gap-x-8 {
  column-gap: 0rem;
}

.nav-links {
  background: #fff;
  color: #000;
}

.nav-links ul li a button,
.home-tile {
  background: #d5c6ff;
  color: #000;
}

.home-tile {
  border-radius: 20px;
  padding: 55px;
  margin-bottom: 50px;
}

.home-tile h3 {
  margin-left: 11rem;
}

.logo-section {
  position: absolute;
  top: 25%;
  z-index: 10;
  right: 19%;
}
.wheelyLogo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.nav-links ul li {
  padding: 2px 10px;
}

.nav-links ul li a {
  vertical-align: sub;
}

.nav-links ul li:hover {
  border: 1px solid black;
  border-radius: 4px;
  background: #d5c6ff;
  color: #000;
}

.nav-links ul li a button:hover {
  background: none;
  box-shadow: none;
}

.MuiInputBase-colorPrimary {
  color: #fff !important;
}

.wrapper-section h2,
.wrapper-section p {
  margin: 0 auto;
}

.main-content-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 auto;
  justify-content: space-between;
}

.content-one,
.content-two,
.content-three {
  display: flex;
  flex-direction: row;
}

.content-one > div:nth-child(1),
.content-two > div:nth-child(2),
.content-three > div:nth-child(1) {
  padding: 20px;
  margin: 10px 0 0 0;
  background: #d5c6ff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 70%;
  color: #000;
}

.content-one > div > img,
.content-two > div > img,
.content-three > div > img {
  border-radius: 20px;
  margin-top: 10px;
  width: 150px;
  margin-left: 5px;
}
.content-one h3,
.content-two h3,
.content-three h3 {
  font-weight: bold;
  color: #000;
}

.content-one,
.content-three {
  margin-right: auto;
}

.content-two {
  margin-left: auto;
  width: 80%;
}

.group.container {
  border: 1px solid white;
  border-radius: 4px;
}

.group.container > div > p {
  font-size: 13px;
  margin-top: 20px;
}

.MuiDialogActions-root button {
  color: #000;
  background: #6fc2b0;
}

.MuiOutlinedInput-root input {
  color: #000;
}

.dashboard-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dashboard-section-one {
  color: #000;
  background: #d5c6ff;
  border-radius: 10px;
  padding: 25px;
  margin: 10px;
}

.dashboard-section-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-section-one img {
  width: 200px;
  height: auto;
}

.dashboard-section-one p {
  margin: 5px 20px;
  padding: 2px;
  font-weight: bold;
}

.dashboard-section-one button,
.dashboard-section-two button {
  background-color: #9082ec;
  color: #fff;
  width: 200px;
  border-radius: 20px;
  display: block;
  margin: 10px;
}

.dashboard-section-one button:hover,
.dashboard-section-two button:hover {
  background-color: #fff;
  color: #9082ec;
}

.dashboard-section-two > div {
  width: 400px;
  height: 150px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #d5c6ff;
}

.dashboard-section-two > div > p,
.dashboard-section-two div p {
  margin: 10px;
  color: #000;
  font-weight: bold;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium {
  color: black;
  cursor: pointer;
  font-size: 34px;
}

.about-tile p {
  text-align: justify;
  margin-bottom: 15px;
}

.MuiButton-sizeMedium.MuiButton-containedSizeMedium {
  color: #000;
  background-color: #d5c6ff;
}

.MuiButton-sizeMedium.MuiButton-containedSizeMedium:hover {
  color: #000;
  background-color: #d5c6ff;
}

.footer-section {
  height: 20%;
  padding: 20px;
  text-align: center;
  font-weight: normal;
}

.star-icon {
  color: #d8c410 !important;
  font-size: 45px !important;
  margin-top: -15% !important;
  margin-left: 40% !important;
}
